<form [formGroup]="changePasswordForm">
    <input type="password" matInput placeholder="Type in old password" formControlName="oldpassword">
    <input type="password" matInput placeholder="New passoword " formControlName="newpassword" [errorStateMatcher]="matcher">
    <!-- <input type="password" matInput placeholder="Confirm password " formControlName="confirmpassword" [errorStateMatcher]="matcher"> -->



    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="Type in passoword again "
          formControlName="confirmpassword" [errorStateMatcher]="matcher">
        <mat-error
          *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').invalid && !changePasswordForm.hasError('notMatching')">
          {{errormessages.weak_password}}</mat-error>
        <mat-error *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.hasError('notMatching') ">
          {{errormessages.password_mismatch}}</mat-error>

      </mat-form-field>

    <button type="submit" (click)='onSubmit()' mat-raised-button color="primary" class="w-240 h-40">Verify</button>

</form>