/* You can add global styles to this file, and also import other style files */
@import './styles/corestyle.scss';
@import './styles/fonts.scss';
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Varela Round', "Helvetica Neue", sans-serif;
}
.mat-menu-content {
	padding: 0px !important;
}
.Varela-round-regular {
	font-family: 'Varela Round' !important;
}
@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'DIN-Regular');
@include mat-core($custom-typography);
